div.pp_default .pp_top,div.pp_default .pp_top .pp_middle,div.pp_default .pp_top .pp_left,div.pp_default .pp_top .pp_right,div.pp_default .pp_bottom,div.pp_default .pp_bottom .pp_left,div.pp_default .pp_bottom .pp_middle,div.pp_default .pp_bottom .pp_right{height:13px}
div.pp_default .pp_top .pp_left{background:url(../images/prettyPhoto/default/sprite.png) -78px -93px no-repeat}
div.pp_default .pp_top .pp_middle{background:url(../images/prettyPhoto/default/sprite_x.png) top left repeat-x}
div.pp_default .pp_top .pp_right{background:url(../images/prettyPhoto/default/sprite.png) -112px -93px no-repeat}
div.pp_default .pp_content .ppt{color:#f8f8f8}
div.pp_default .pp_content_container .pp_left{background:url(../images/prettyPhoto/default/sprite_y.png) -7px 0 repeat-y;padding-left:13px}
div.pp_default .pp_content_container .pp_right{background:url(../images/prettyPhoto/default/sprite_y.png) top right repeat-y;padding-right:13px}
div.pp_default .pp_next:hover{background:url(../images/prettyPhoto/default/sprite_next.png) center right no-repeat;cursor:pointer}
div.pp_default .pp_previous:hover{background:url(../images/prettyPhoto/default/sprite_prev.png) center left no-repeat;cursor:pointer}
div.pp_default .pp_expand{background:url(../images/prettyPhoto/default/sprite.png) 0 -29px no-repeat;cursor:pointer;width:28px;height:28px}
div.pp_default .pp_expand:hover{background:url(../images/prettyPhoto/default/sprite.png) 0 -56px no-repeat;cursor:pointer}
div.pp_default .pp_contract{background:url(../images/prettyPhoto/default/sprite.png) 0 -84px no-repeat;cursor:pointer;width:28px;height:28px}
div.pp_default .pp_contract:hover{background:url(../images/prettyPhoto/default/sprite.png) 0 -113px no-repeat;cursor:pointer}
div.pp_default .pp_close{width:30px;height:30px;background:url(../images/prettyPhoto/default/sprite.png) 2px 1px no-repeat;cursor:pointer}
div.pp_default .pp_gallery ul li a{background:url(../images/prettyPhoto/default/default_thumb.png) center center #f8f8f8;border:1px solid #aaa}
div.pp_default .pp_social{margin-top:7px}
div.pp_default .pp_gallery a.pp_arrow_previous,div.pp_default .pp_gallery a.pp_arrow_next{position:static;left:auto}
div.pp_default .pp_nav .pp_play,div.pp_default .pp_nav .pp_pause{background:url(../images/prettyPhoto/default/sprite.png) -51px 1px no-repeat;height:30px;width:30px}
div.pp_default .pp_nav .pp_pause{background-position:-51px -29px}
div.pp_default a.pp_arrow_previous,div.pp_default a.pp_arrow_next{background:url(../images/prettyPhoto/default/sprite.png) -31px -3px no-repeat;height:20px;width:20px;margin:4px 0 0}
div.pp_default a.pp_arrow_next{left:52px;background-position:-82px -3px}
div.pp_default .pp_content_container .pp_details{margin-top:5px}
div.pp_default .pp_nav{clear:none;height:30px;width:110px;position:relative}
div.pp_default .pp_nav .currentTextHolder{font-family:Georgia;font-style:italic;color:#999;font-size:11px;left:75px;line-height:25px;position:absolute;top:2px;margin:0;padding:0 0 0 10px}
div.pp_default .pp_close:hover,div.pp_default .pp_nav .pp_play:hover,div.pp_default .pp_nav .pp_pause:hover,div.pp_default .pp_arrow_next:hover,div.pp_default .pp_arrow_previous:hover{opacity:0.7}
div.pp_default .pp_description{font-size:11px;font-weight:700;line-height:14px;margin:5px 50px 5px 0}
div.pp_default .pp_bottom .pp_left{background:url(../images/prettyPhoto/default/sprite.png) -78px -127px no-repeat}
div.pp_default .pp_bottom .pp_middle{background:url(../images/prettyPhoto/default/sprite_x.png) bottom left repeat-x}
div.pp_default .pp_bottom .pp_right{background:url(../images/prettyPhoto/default/sprite.png) -112px -127px no-repeat}
div.pp_default .pp_loaderIcon{background:url(../images/prettyPhoto/default/loader.gif) center center no-repeat}
div.light_rounded .pp_top .pp_left{background:url(../images/prettyPhoto/light_rounded/sprite.png) -88px -53px no-repeat}
div.light_rounded .pp_top .pp_right{background:url(../images/prettyPhoto/light_rounded/sprite.png) -110px -53px no-repeat}
div.light_rounded .pp_next:hover{background:url(../images/prettyPhoto/light_rounded/btnNext.png) center right no-repeat;cursor:pointer}
div.light_rounded .pp_previous:hover{background:url(../images/prettyPhoto/light_rounded/btnPrevious.png) center left no-repeat;cursor:pointer}
div.light_rounded .pp_expand{background:url(../images/prettyPhoto/light_rounded/sprite.png) -31px -26px no-repeat;cursor:pointer}
div.light_rounded .pp_expand:hover{background:url(../images/prettyPhoto/light_rounded/sprite.png) -31px -47px no-repeat;cursor:pointer}
div.light_rounded .pp_contract{background:url(../images/prettyPhoto/light_rounded/sprite.png) 0 -26px no-repeat;cursor:pointer}
div.light_rounded .pp_contract:hover{background:url(../images/prettyPhoto/light_rounded/sprite.png) 0 -47px no-repeat;cursor:pointer}
div.light_rounded .pp_close{width:75px;height:22px;background:url(../images/prettyPhoto/light_rounded/sprite.png) -1px -1px no-repeat;cursor:pointer}
div.light_rounded .pp_nav .pp_play{background:url(../images/prettyPhoto/light_rounded/sprite.png) -1px -100px no-repeat;height:15px;width:14px}
div.light_rounded .pp_nav .pp_pause{background:url(../images/prettyPhoto/light_rounded/sprite.png) -24px -100px no-repeat;height:15px;width:14px}
div.light_rounded .pp_arrow_previous{background:url(../images/prettyPhoto/light_rounded/sprite.png) 0 -71px no-repeat}
div.light_rounded .pp_arrow_next{background:url(../images/prettyPhoto/light_rounded/sprite.png) -22px -71px no-repeat}
div.light_rounded .pp_bottom .pp_left{background:url(../images/prettyPhoto/light_rounded/sprite.png) -88px -80px no-repeat}
div.light_rounded .pp_bottom .pp_right{background:url(../images/prettyPhoto/light_rounded/sprite.png) -110px -80px no-repeat}
div.dark_rounded .pp_top .pp_left{background:url(../images/prettyPhoto/dark_rounded/sprite.png) -88px -53px no-repeat}
div.dark_rounded .pp_top .pp_right{background:url(../images/prettyPhoto/dark_rounded/sprite.png) -110px -53px no-repeat}
div.dark_rounded .pp_content_container .pp_left{background:url(../images/prettyPhoto/dark_rounded/contentPattern.png) top left repeat-y}
div.dark_rounded .pp_content_container .pp_right{background:url(../images/prettyPhoto/dark_rounded/contentPattern.png) top right repeat-y}
div.dark_rounded .pp_next:hover{background:url(../images/prettyPhoto/dark_rounded/btnNext.png) center right no-repeat;cursor:pointer}
div.dark_rounded .pp_previous:hover{background:url(../images/prettyPhoto/dark_rounded/btnPrevious.png) center left no-repeat;cursor:pointer}
div.dark_rounded .pp_expand{background:url(../images/prettyPhoto/dark_rounded/sprite.png) -31px -26px no-repeat;cursor:pointer}
div.dark_rounded .pp_expand:hover{background:url(../images/prettyPhoto/dark_rounded/sprite.png) -31px -47px no-repeat;cursor:pointer}
div.dark_rounded .pp_contract{background:url(../images/prettyPhoto/dark_rounded/sprite.png) 0 -26px no-repeat;cursor:pointer}
div.dark_rounded .pp_contract:hover{background:url(../images/prettyPhoto/dark_rounded/sprite.png) 0 -47px no-repeat;cursor:pointer}
div.dark_rounded .pp_close{width:75px;height:22px;background:url(../images/prettyPhoto/dark_rounded/sprite.png) -1px -1px no-repeat;cursor:pointer}
div.dark_rounded .pp_description{margin-right:85px;color:#fff}
div.dark_rounded .pp_nav .pp_play{background:url(../images/prettyPhoto/dark_rounded/sprite.png) -1px -100px no-repeat;height:15px;width:14px}
div.dark_rounded .pp_nav .pp_pause{background:url(../images/prettyPhoto/dark_rounded/sprite.png) -24px -100px no-repeat;height:15px;width:14px}
div.dark_rounded .pp_arrow_previous{background:url(../images/prettyPhoto/dark_rounded/sprite.png) 0 -71px no-repeat}
div.dark_rounded .pp_arrow_next{background:url(../images/prettyPhoto/dark_rounded/sprite.png) -22px -71px no-repeat}
div.dark_rounded .pp_bottom .pp_left{background:url(../images/prettyPhoto/dark_rounded/sprite.png) -88px -80px no-repeat}
div.dark_rounded .pp_bottom .pp_right{background:url(../images/prettyPhoto/dark_rounded/sprite.png) -110px -80px no-repeat}
div.dark_rounded .pp_loaderIcon{background:url(../images/prettyPhoto/dark_rounded/loader.gif) center center no-repeat}
div.dark_square .pp_left,div.dark_square .pp_middle,div.dark_square .pp_right,div.dark_square .pp_content{background:#000}
div.dark_square .pp_description{color:#fff;margin:0 85px 0 0}
div.dark_square .pp_loaderIcon{background:url(../images/prettyPhoto/dark_square/loader.gif) center center no-repeat}
div.dark_square .pp_expand{background:url(../images/prettyPhoto/dark_square/sprite.png) -31px -26px no-repeat;cursor:pointer}
div.dark_square .pp_expand:hover{background:url(../images/prettyPhoto/dark_square/sprite.png) -31px -47px no-repeat;cursor:pointer}
div.dark_square .pp_contract{background:url(../images/prettyPhoto/dark_square/sprite.png) 0 -26px no-repeat;cursor:pointer}
div.dark_square .pp_contract:hover{background:url(../images/prettyPhoto/dark_square/sprite.png) 0 -47px no-repeat;cursor:pointer}
div.dark_square .pp_close{width:75px;height:22px;background:url(../images/prettyPhoto/dark_square/sprite.png) -1px -1px no-repeat;cursor:pointer}
div.dark_square .pp_nav{clear:none}
div.dark_square .pp_nav .pp_play{background:url(../images/prettyPhoto/dark_square/sprite.png) -1px -100px no-repeat;height:15px;width:14px}
div.dark_square .pp_nav .pp_pause{background:url(../images/prettyPhoto/dark_square/sprite.png) -24px -100px no-repeat;height:15px;width:14px}
div.dark_square .pp_arrow_previous{background:url(../images/prettyPhoto/dark_square/sprite.png) 0 -71px no-repeat}
div.dark_square .pp_arrow_next{background:url(../images/prettyPhoto/dark_square/sprite.png) -22px -71px no-repeat}
div.dark_square .pp_next:hover{background:url(../images/prettyPhoto/dark_square/btnNext.png) center right no-repeat;cursor:pointer}
div.dark_square .pp_previous:hover{background:url(../images/prettyPhoto/dark_square/btnPrevious.png) center left no-repeat;cursor:pointer}
div.light_square .pp_expand{background:url(../images/prettyPhoto/light_square/sprite.png) -31px -26px no-repeat;cursor:pointer}
div.light_square .pp_expand:hover{background:url(../images/prettyPhoto/light_square/sprite.png) -31px -47px no-repeat;cursor:pointer}
div.light_square .pp_contract{background:url(../images/prettyPhoto/light_square/sprite.png) 0 -26px no-repeat;cursor:pointer}
div.light_square .pp_contract:hover{background:url(../images/prettyPhoto/light_square/sprite.png) 0 -47px no-repeat;cursor:pointer}
div.light_square .pp_close{width:75px;height:22px;background:url(../images/prettyPhoto/light_square/sprite.png) -1px -1px no-repeat;cursor:pointer}
div.light_square .pp_nav .pp_play{background:url(../images/prettyPhoto/light_square/sprite.png) -1px -100px no-repeat;height:15px;width:14px}
div.light_square .pp_nav .pp_pause{background:url(../images/prettyPhoto/light_square/sprite.png) -24px -100px no-repeat;height:15px;width:14px}
div.light_square .pp_arrow_previous{background:url(../images/prettyPhoto/light_square/sprite.png) 0 -71px no-repeat}
div.light_square .pp_arrow_next{background:url(../images/prettyPhoto/light_square/sprite.png) -22px -71px no-repeat}
div.light_square .pp_next:hover{background:url(../images/prettyPhoto/light_square/btnNext.png) center right no-repeat;cursor:pointer}
div.light_square .pp_previous:hover{background:url(../images/prettyPhoto/light_square/btnPrevious.png) center left no-repeat;cursor:pointer}
div.facebook .pp_top .pp_left{background:url(../images/prettyPhoto/facebook/sprite.png) -88px -53px no-repeat}
div.facebook .pp_top .pp_middle{background:url(../images/prettyPhoto/facebook/contentPatternTop.png) top left repeat-x}
div.facebook .pp_top .pp_right{background:url(../images/prettyPhoto/facebook/sprite.png) -110px -53px no-repeat}
div.facebook .pp_content_container .pp_left{background:url(../images/prettyPhoto/facebook/contentPatternLeft.png) top left repeat-y}
div.facebook .pp_content_container .pp_right{background:url(../images/prettyPhoto/facebook/contentPatternRight.png) top right repeat-y}
div.facebook .pp_expand{background:url(../images/prettyPhoto/facebook/sprite.png) -31px -26px no-repeat;cursor:pointer}
div.facebook .pp_expand:hover{background:url(../images/prettyPhoto/facebook/sprite.png) -31px -47px no-repeat;cursor:pointer}
div.facebook .pp_contract{background:url(../images/prettyPhoto/facebook/sprite.png) 0 -26px no-repeat;cursor:pointer}
div.facebook .pp_contract:hover{background:url(../images/prettyPhoto/facebook/sprite.png) 0 -47px no-repeat;cursor:pointer}
div.facebook .pp_close{width:22px;height:22px;background:url(../images/prettyPhoto/facebook/sprite.png) -1px -1px no-repeat;cursor:pointer}
div.facebook .pp_description{margin:0 37px 0 0}
div.facebook .pp_loaderIcon{background:url(../images/prettyPhoto/facebook/loader.gif) center center no-repeat}
div.facebook .pp_arrow_previous{background:url(../images/prettyPhoto/facebook/sprite.png) 0 -71px no-repeat;height:22px;margin-top:0;width:22px}
div.facebook .pp_arrow_previous.disabled{background-position:0 -96px;cursor:default}
div.facebook .pp_arrow_next{background:url(../images/prettyPhoto/facebook/sprite.png) -32px -71px no-repeat;height:22px;margin-top:0;width:22px}
div.facebook .pp_arrow_next.disabled{background-position:-32px -96px;cursor:default}
div.facebook .pp_nav{margin-top:0}
div.facebook .pp_nav p{font-size:15px;padding:0 3px 0 4px}
div.facebook .pp_nav .pp_play{background:url(../images/prettyPhoto/facebook/sprite.png) -1px -123px no-repeat;height:22px;width:22px}
div.facebook .pp_nav .pp_pause{background:url(../images/prettyPhoto/facebook/sprite.png) -32px -123px no-repeat;height:22px;width:22px}
div.facebook .pp_next:hover{background:url(../images/prettyPhoto/facebook/btnNext.png) center right no-repeat;cursor:pointer}
div.facebook .pp_previous:hover{background:url(../images/prettyPhoto/facebook/btnPrevious.png) center left no-repeat;cursor:pointer}
div.facebook .pp_bottom .pp_left{background:url(../images/prettyPhoto/facebook/sprite.png) -88px -80px no-repeat}
div.facebook .pp_bottom .pp_middle{background:url(../images/prettyPhoto/facebook/contentPatternBottom.png) top left repeat-x}
div.facebook .pp_bottom .pp_right{background:url(../images/prettyPhoto/facebook/sprite.png) -110px -80px no-repeat}
div.pp_pic_holder a:focus{outline:none}
div.pp_overlay{background:#000;display:none;left:0;position:absolute;top:0;width:100%;z-index:9500}
div.pp_pic_holder{display:none;position:absolute;width:100px;z-index:10000}
.pp_content{height:40px;min-width:40px}
* html .pp_content{width:40px}
.pp_content_container{position:relative;text-align:left;width:100%}
.pp_content_container .pp_left{padding-left:20px}
.pp_content_container .pp_right{padding-right:20px}
.pp_content_container .pp_details{float:left;margin:10px 0 2px}
.pp_description{display:none;margin:0}
.pp_social{float:left;margin:0}
.pp_social .facebook{float:left;margin-left:5px;width:55px;overflow:hidden}
.pp_social .twitter{float:left}
.pp_nav{clear:right;float:left;margin:3px 10px 0 0}
.pp_nav p{float:left;white-space:nowrap;margin:2px 4px}
.pp_nav .pp_play,.pp_nav .pp_pause{float:left;margin-right:4px;text-indent:-10000px}
a.pp_arrow_previous,a.pp_arrow_next{display:block;float:left;height:15px;margin-top:3px;overflow:hidden;text-indent:-10000px;width:14px}
.pp_hoverContainer{position:absolute;top:0;width:100%;z-index:2000}
.pp_gallery{display:none;left:50%;margin-top:-50px;position:absolute;z-index:10000}
.pp_gallery div{float:left;overflow:hidden;position:relative}
.pp_gallery ul{float:left;height:35px;position:relative;white-space:nowrap;margin:0 0 0 5px;padding:0}
.pp_gallery ul a{border:1px rgba(0,0,0,0.5) solid;display:block;float:left;height:33px;overflow:hidden}
.pp_gallery ul a img{border:0}
.pp_gallery li{display:block;float:left;margin:0 5px 0 0;padding:0}
.pp_gallery li.default a{background:url(../images/prettyPhoto/facebook/default_thumbnail.gif) 0 0 no-repeat;display:block;height:33px;width:50px}
.pp_gallery .pp_arrow_previous,.pp_gallery .pp_arrow_next{margin-top:7px!important}
a.pp_next{background:url(../images/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;display:block;float:right;height:100%;text-indent:-10000px;width:49%}
a.pp_previous{background:url(../images/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;display:block;float:left;height:100%;text-indent:-10000px;width:49%}
a.pp_expand,a.pp_contract{cursor:pointer;display:none;height:20px;position:absolute;right:30px;text-indent:-10000px;top:10px;width:20px;z-index:20000}
a.pp_close{position:absolute;right:0;top:0;display:block;line-height:22px;text-indent:-10000px}
.pp_loaderIcon{display:block;height:24px;left:50%;position:absolute;top:50%;width:24px;margin:-12px 0 0 -12px}
#pp_full_res{line-height:1!important}
#pp_full_res .pp_inline{text-align:left}
#pp_full_res .pp_inline p{margin:0 0 15px}
div.ppt{color:#fff;display:none;font-size:17px;z-index:9999;margin:0 0 5px 15px}
div.pp_default .pp_content,div.light_rounded .pp_content{background-color:#fff}
div.pp_default #pp_full_res .pp_inline,div.light_rounded .pp_content .ppt,div.light_rounded #pp_full_res .pp_inline,div.light_square .pp_content .ppt,div.light_square #pp_full_res .pp_inline,div.facebook .pp_content .ppt,div.facebook #pp_full_res .pp_inline{color:#000}
div.pp_default .pp_gallery ul li a:hover,div.pp_default .pp_gallery ul li.selected a,.pp_gallery ul a:hover,.pp_gallery li.selected a{border-color:#fff}
div.pp_default .pp_details,div.light_rounded .pp_details,div.dark_rounded .pp_details,div.dark_square .pp_details,div.light_square .pp_details,div.facebook .pp_details{position:relative}
div.light_rounded .pp_top .pp_middle,div.light_rounded .pp_content_container .pp_left,div.light_rounded .pp_content_container .pp_right,div.light_rounded .pp_bottom .pp_middle,div.light_square .pp_left,div.light_square .pp_middle,div.light_square .pp_right,div.light_square .pp_content,div.facebook .pp_content{background:#fff}
div.light_rounded .pp_description,div.light_square .pp_description{margin-right:85px}
div.light_rounded .pp_gallery a.pp_arrow_previous,div.light_rounded .pp_gallery a.pp_arrow_next,div.dark_rounded .pp_gallery a.pp_arrow_previous,div.dark_rounded .pp_gallery a.pp_arrow_next,div.dark_square .pp_gallery a.pp_arrow_previous,div.dark_square .pp_gallery a.pp_arrow_next,div.light_square .pp_gallery a.pp_arrow_previous,div.light_square .pp_gallery a.pp_arrow_next{margin-top:12px!important}
div.light_rounded .pp_arrow_previous.disabled,div.dark_rounded .pp_arrow_previous.disabled,div.dark_square .pp_arrow_previous.disabled,div.light_square .pp_arrow_previous.disabled{background-position:0 -87px;cursor:default}
div.light_rounded .pp_arrow_next.disabled,div.dark_rounded .pp_arrow_next.disabled,div.dark_square .pp_arrow_next.disabled,div.light_square .pp_arrow_next.disabled{background-position:-22px -87px;cursor:default}
div.light_rounded .pp_loaderIcon,div.light_square .pp_loaderIcon{background:url(../images/prettyPhoto/light_rounded/loader.gif) center center no-repeat}
div.dark_rounded .pp_top .pp_middle,div.dark_rounded .pp_content,div.dark_rounded .pp_bottom .pp_middle{background:url(../images/prettyPhoto/dark_rounded/contentPattern.png) top left repeat}
div.dark_rounded .currentTextHolder,div.dark_square .currentTextHolder{color:#c4c4c4}
div.dark_rounded #pp_full_res .pp_inline,div.dark_square #pp_full_res .pp_inline{color:#fff}
.pp_top,.pp_bottom{height:20px;position:relative}
* html .pp_top,* html .pp_bottom{padding:0 20px}
.pp_top .pp_left,.pp_bottom .pp_left{height:20px;left:0;position:absolute;width:20px}
.pp_top .pp_middle,.pp_bottom .pp_middle{height:20px;left:20px;position:absolute;right:20px}
* html .pp_top .pp_middle,* html .pp_bottom .pp_middle{left:0;position:static}
.pp_top .pp_right,.pp_bottom .pp_right{height:20px;left:auto;position:absolute;right:0;top:0;width:20px}
.pp_fade,.pp_gallery li.default a img{display:none}
/*------------------------------------------------------------------------------------------------------------------------
 
 @package: Sadaka
 @author: Ouarmedia/Farouk BLALOU
 @version: 1.0
 
 --------------------------------------------------------------------------------------------------------------------- */

/* =============================================================================
  Base
========================================================================== */
body {
  font-family: "Open sans", sans-serif;
  color:   rgba(2, 2, 2, 1);
}

h1,
h2,
h3,
h4 {
  font-family: "Dosis", sans-serif;
}

a {
  color: inherit;
}
a:hover, a:focus, a:active {
  color: inherit;
}

/* =============================================================================
  COMPONENTS
========================================================================== */

.list.-breadcrumbs .list_item, .list.-terms .list_item, .list.-social .list_item, .list.-gallery .list_item, .list.-pagination .list_item, .list.-pager .list_item {
    display: inline-block; }

/* =============================================================================
  Layout
========================================================================== */
/* Header 
================================= */
.navbar-static-top {
  margin: 0;
  border: 0;
  color: #fff;
}

.navbar-top {
  background: rgba(2, 2, 2, 1);; /* 115c9b */
  font-size: 12px;
  padding: 3px 0;
}
.navbar-top .list-inline {
  margin-bottom: 0;
}
.navbar-top .header-contact li {
  margin-right: 15px;
}
.navbar-top .header-contact li .fa {
  margin-right: 5px;
}

.navbar-main {
  margin-bottom: 0;
  color: #fff;
  background: rgba(7, 7, 9, 0.8); /* 1f76bd */
}
.navbar-main .navbar-brand {
  border-bottom: none !important;
}
.navbar-main a:hover,
.navbar-main a:active,
.navbar-main a:focus,
.navbar-main a.is-active {
  background: none !important;
  color: inherit;
  border-bottom: 2px solid #fff;
}
.navbar-main .submenu {
  position: absolute;
  list-style: none;
  background:   rgba(7, 7, 9, 0.8);
  padding: 0;
  width: 150px;
  left: -35px;
  visibility: hidden;
  top: 85px;
  -moz-transition: all, 0.05s;
  -o-transition: all, 0.05s;
  -webkit-transition: all, 0.05s;
  transition: all, 0.05s;
}
.navbar-main .submenu li {
  border-top: 1px solid #185b91;
}
.navbar-main .submenu li:hover {
  background: #185b91;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}
.navbar-main .submenu li a {
  width: 100%;
  border-bottom: none;
  text-decoration: none;
  padding: 5px 25px;
  display: block;
  font-size: 16px;
}
.navbar-main li a {
  font-family: "Dosis", sans-serif;
  font-size: 18px;
  padding: 20px 15px;
  border-bottom: 2px solid transparent;
}
.navbar-main li:hover .submenu {
  top: 62px;
  visibility: visible;
  -moz-transition: all, 0.25s;
  -o-transition: all, 0.25s;
  -webkit-transition: all, 0.25s;
  transition: all, 0.25s;
}
.navbar-main .icon-bar {
  background: #fff;
}

/* Home Slider 
================================= */
.carousel-home img {
  width: 100%;
}
.carousel-home .carousel-control {
  background:   rgba(7, 7, 9, 0.8);
  height: 80px;
  width: 40px;
  top: 50%;
  margin-top: -40px;
  -moz-transition: width, 0.3s;
  -o-transition: width, 0.3s;
  -webkit-transition: width, 0.3s;
  transition: width, 0.3s;
}
.carousel-home .carousel-control .fa {
  font-size: 2.5em;
  padding-top: 12px;
}
.carousel-home .carousel-control:hover {
  width: 50px;
}
.carousel-home .carousel-caption {
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
}
.carousel-home .carousel-title {
  color: #fff;
  font-family: "Dosis", sans-serif;
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
}
.carousel-home .carousel-subtitle {
  font-size: 25px;
  text-transform: uppercase;
}
.carousel-home .btn {
  margin-top: 30px;
}

.section-home {
  margin: 30px 0;
}

/* home/ about-us 
================================= */

.home-info {
    padding: 2em 1em;
}

.test {
  margin-top: 20px;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
}

.about-us {
  margin: 30px 0;
}

.about-us-col {
  height: 325px;
  padding: 25px;
  text-align: center;
  background-color: #0076a3;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMjgwODE0IiB5MT0iLTAuMTAyMjA4IiB4Mj0iMC43MTkxODYiIHkyPSIxLjEwMjIwOCI+PHN0b3Agb2Zmc2V0PSItMjUlIiBzdG9wLWNvbG9yPSIjMTE1YjliIi8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMxMjkwZjgiLz48c3RvcCBvZmZzZXQ9IjEyNSUiIHN0b3AtY29sb3I9IiMxMTViOWIiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -moz-linear-gradient(290deg, #115b9b -25%, #1290f8 50%, #115b9b 125%);
  background-image: -webkit-linear-gradient(290deg, #115b9b -25%, #1290f8 50%, #115b9b 125%);
  background-image: linear-gradient(160deg, #115b9b -25%, #1290f8 50%, #115b9b 125%);
  color: #fff;
}
.about-us-col .col-icon-wrapper {
  min-height: 80px;
}
.about-us-col .col-title {
  text-transform: uppercase;
}
.about-us-col .col-details {
  text-align: justify;
  margin-bottom: 25px;
  min-height: 80px;
}

/* home video
================================= */

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* home/reasons 
================================= */
.home-reasons {
  margin: 25px 0;
}

.reasons-col {
  position: relative;
  overflow: hidden;
}
.reasons-col img {
  width: 100%;
  -moz-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
}
.reasons-col .reasons-titles {
  position: absolute;
  bottom: 0;
  text-align: center;
  background: rgba(31, 118, 189, 0.8);
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  height: 125px;
  padding: 25px 0;
}

.reasons-col .reasons-title {
  font-weight: bold;
}
.reasons-col .on-hover {
  position: absolute;
  top: 0;
  bottom: 125px;
  width: 100%;
  padding: 25px;
  color: #fff;
  text-align: justify;
  background: rgba(31, 118, 189, 0.9);
  border-bottom: 1px solid #fff;
  visibility: hidden;
  opacity: 0;
  -moz-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
}
.reasons-col:hover .on-hover {
  visibility: visible;
  opacity: 1;
  padding: 50px;
  -moz-transition: all, 1s;
  -o-transition: all, 1s;
  -webkit-transition: all, 1s;
  transition: all, 1s;
}
.reasons-col:hover img {
  -moz-transform: perspective(1.1) scale3d(1.1, 1.1, 1.1);
  -webkit-transform: perspective(1.1) scale3d(1.1, 1.1, 1.1);
  transform: perspective(1.1) scale3d(1.1, 1.1, 1.1);
}

/* home/causes
================================= */
.cause {
  padding-bottom: 15px;
  margin-bottom: 30px;
  border: 1px solid   rgba(7, 7, 9, 0.8);
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}
.cause .cause-progress {
  margin: 0 10px 15px;
  border: 1px solid   rgba(7, 7, 9, 0.8);
  border-radius: 3px;
}
.cause .cause-progress .progress-bar {
  background:   rgba(7, 7, 9, 0.8);
  box-shadow: none;
}
.cause .cause-img {
  margin-bottom: 15px;
  width: 100%;
}
.cause .cause-title {
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
}
.cause .cause-details {
  text-align: justify;
  padding: 0 15px;
  font-size: 13px;
  margin-bottom: 15px;
  min-height: 115px;
}
.cause:hover {
  background: #f0f0f0;
  color: #144d7b;
  border-color: #144d7b;
}

/* Team 
================================= */
.team-member {
  background:   rgba(7, 7, 9, 0.8);
  color: #fff;
  text-align: center;
  padding-bottom: 15px;
  border: 1px solid   rgba(7, 7, 9, 0.8);
}
.team-member .thumnail img {
  width: 100%;
}
.team-member .member-name {
  font-weight: bold;
}
.team-member .member-position {
  padding: 0 15px 5px;
}

/* footer 
================================= */
.footer-top {
  background:   rgba(2, 2, 2, 1);
  height: 40px;
}

.main-footer {
  background:   rgba(7, 7, 9, 0.8);
  color: #fff;
}
.main-footer .footer-main {
  padding: 30px 0;
}
.main-footer .footer-title {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.main-footer .footer-title .title-under {
  background: #fff;
  margin: 15px 0;
  text-align: left;
}
.main-footer .footer-title .title-under:after {
  margin: 0;
  background: #fff;
}
.main-footer .footer-content {
  text-align: justify;
  font-size: 13px;
}
.main-footer .tweet {
  font-size: 13px;
}
.main-footer .tweet:after {
  content: "";
  height: 1px;
  display: block;
  background:   rgba(2, 2, 2, 1);
  width: 150px;
  margin: 15px auto;
}
.main-footer .tweet:last-child:after {
  display: none;
}

.footer-bottom {
  background:   rgba(2, 2, 2, 1);
  padding: 3px;
}

.footer-form .form-group {
  margin-bottom: 5px;
}
.footer-form .form-control {
  background:   rgba(2, 2, 2, 1);
  color: #fff;
  border: 0;
  border-radius: 0;
  margin-bottom: 5px;
  border: 1px solid #fff;
  resize: none;
}
.footer-form .btn-submit {
  border-radius: 0;
  background:   rgba(2, 2, 2, 1);
  text-transform: uppercase;
  border: 1px solid #fff;
  -moz-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
}
.footer-form .btn-submit:hover {
  background: #fff;
}
.footer-form input:-moz-placeholder,
.footer-form textarea:-moz-placeholder {
  color: #fff;
}
.footer-form input::-moz-placeholder,
.footer-form textarea::-moz-placeholder {
  color: #fff;
}
.footer-form input:-ms-input-placeholder,
.footer-form textarea:-ms-input-placeholder {
  color: #fff;
}
.footer-form input::-webkit-input-placeholder,
.footer-form textarea::-webkit-input-placeholder {
  color: #fff;
}

.mainFooter {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(7, 7, 9, 0.8)), to(rgba(7, 7, 9, 0.8))), url("../media/app/footer-bg.jpg");
    background: -webkit-linear-gradient(rgba(7, 7, 9, 0.8), rgba(7, 7, 9, 0.8)), url("../../images/slider/wind-slider-4.jpg");
    background: -o-linear-gradient(rgba(7, 7, 9, 0.8), rgba(7, 7, 9, 0.8)), url("../../images/slider/wind-slider-4.jpg");
    background: linear-gradient(rgba(7, 7, 9, 0.8), rgba(7, 7, 9, 0.8)), url("../../images/slider/wind-slider-4.jpg");
    background-color: #070709;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #FFFFFF; }
.mainFooter a:hover {
    text-decoration: underline; }
.mainFooter .logo {
    margin: 3.12em auto;
    max-width: 180px;
    height: auto; }
.mainFooter .termsAndSocial {
    padding: 2em 0;
    margin: 1.87em 0;
    line-height: 1.5;
    border-top: 1px solid #979797;
    border-bottom: 1px solid #979797; }
.mainFooter .termsAndSocial {
    *zoom: 1; }
.mainFooter .termsAndSocial:before, .mainFooter .termsAndSocial:after {
    content: "";
    display: table; }
.mainFooter .termsAndSocial:after {
    clear: both; }
.mainFooter .copyright {
    padding-bottom: 2em;
    text-align: center; }


.list.-footer {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100%; }
@media only screen and (min-width: 600px) {
    .list.-footer {
        width: 49%; } }
@media only screen and (max-width: 1024.98px) {
    .list.-footer:nth-last-child(-n+2) {
        margin-top: 1.5em; } }
@media only screen and (min-width: 1025px) {
    .list.-footer {
        float: left;
        width: 25%; }
    .list.-footer:last-child {
        padding-left: 12%; }
    .list.-footer:last-child:before {
        content: "";
        border-left: 1px solid #979797;
        position: absolute;
        left: 20%;
        top: -10px;
        bottom: -10px; } }
.list.-footer .list_item {
    line-height: 1.5; }

@media only screen and (min-width: 1025px) {
    .list.-terms {
        float: left; } }

.list.-terms .list_item:not(:first-child) {
    padding-left: 0.5em; }
.list.-terms .list_item:not(:first-child):before {
    content: "/";
    margin-right: 0.5em; }

@media only screen and (min-width: 1025px) {
    .mainFooter .list.-social {
        float: right; } }

@media only screen and (max-width: 1024.98px) {
    .mainFooter .list.-social {
        border-top: 1px solid;
        padding-top: 2em;
        margin-top: 2em;
        text-align: center; } }

.list.-social .list_item:not(:last-child) {
    margin-right: 0.5em; }

/* Pages 
================================= */
.page-heading {
  background: url('../../images/heading-bg.jpg?1428795369') no-repeat center;
  background-size: cover;
  min-height: 190px;
  color: #fff;
  padding: 25px 15px;
  margin-bottom: 50px;
}
.page-heading .title-under {
  background: #fff;
}

.page-description {
  font-size: 18px;
}

.main-container {
  margin-bottom: 50px;
}

/* Pages/Gallery 
================================= */
.gallery-item {
  padding: 0;
  display: block;
  margin: 0;
}
.gallery-item img {
  width: 100%;
}

.contact-items {
  margin-top: 30px;
}
.contact-items .contact-item {
  margin-bottom: 10px;
  vertical-align: middle;
  font-size: 16px;
}
.contact-items .contact-icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  background:   rgba(7, 7, 9, 0.8);
  vertical-align: middle;
  margin-right: 5px;
  color: #fff;
  text-align: center;
}
.contact-items .contact-icon .fa {
  vertical-align: sub;
  font-size: 20px;
  margin-top: 7px;
}

/* contact 
================================= */
.contact-map {
  height: 350px;
  background: #ccc;
}

form .alert {
  display: none;
}

/* Causes 
================================= */
.cause-carousel {
  margin-top: 15px;
  margin-bottom: 30px;
}

/* =============================================================================
	Module
========================================================================== */
.btn-primary {
  background:   rgba(2, 2, 2, 1);
  border: none;
  border-radius: 0;
  padding: 10px 25px;
  border: 1px solid transparent;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}
.btn-primary:hover {
  background: #fff;
  color:   rgba(7, 7, 9, 0.8);
  border: 1px solid   rgba(7, 7, 9, 0.8);
}

.btn-secondary {
  background: #fff;
  color:   rgba(7, 7, 9, 0.8);
  border-radius: 0;
}
.btn-secondary:hover {
  background:   rgba(7, 7, 9, 0.8);
  color: #fff;
}

.title-style-1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 26px;
  margin-bottom: 50px;
}

.title-style-2 {
  text-align: left;
  text-transform: uppercase;
  font-size: 26px;
  margin-bottom: 25px;
}
.title-style-2 .title-under {
  display: block;
  margin: 5px 0;
}
.title-style-2 .title-under:after {
  margin: 0;
  margin-top: 10px;
}

.title-under {
  display: block;
  margin: 5px auto;
  background:   rgba(7, 7, 9, 0.8);
  height: 1px;
  width: 280px;
}
.title-under:after {
  content: '';
  display: block;
  width: 100px;
  background: inherit;
  height: 2px;
  margin: 0 auto;
  margin-top: 10px;
}

/* Modal
================================= */
.form-control {
  border-radius: 0;
  box-shadow: none;
}

/* Tabeles
================================= */
.table-style-1 thead {
  background:   rgba(7, 7, 9, 0.8);
  border-bottom: 1px solid #144d7b;
  color: #fff;
}
.table-style-1 td,
.table-style-1 th {
  border-bottom: 1px solid   rgba(7, 7, 9, 0.8);
}

.table-style-2 thead {
  background:   rgba(2, 2, 2, 1);
  border-bottom: 1px solid #144d7b;
  color: #fff;
}
.table-style-2 tbody tr:nth-child(even) {
  background:   rgba(7, 7, 9, 0.8);
  color: #fff;
}
.table-style-2 td,
.table-style-2 th {
  border-bottom: 1px solid   rgba(7, 7, 9, 0.8);
}

/* Tabs
================================= */
.nav-tabs {
  border-bottom-color:   rgba(7, 7, 9, 0.8);
  margin-bottom: 15px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background:   rgba(7, 7, 9, 0.8);
  color: #fff;
}

.nav-tabs > li > a {
  border-radius: 0;
}

.nav-tabs > li > a:hover {
  border-color:   rgba(7, 7, 9, 0.8)   rgba(7, 7, 9, 0.8)   rgba(7, 7, 9, 0.8)   rgba(2, 2, 2, 1);
}

.nav > li > a:hover, .nav > li > a:focus {
  background:   rgba(2, 2, 2, 1);
  color: #fff;
}

/* Accordion
================================= */
.panel-default {
  border-color:   rgba(7, 7, 9, 0.8);
  border-radius: 0;
}
.panel-default > .panel-heading {
  background:   rgba(7, 7, 9, 0.8);
  color: #fff;
}
.panel-default > .panel-heading:hover {
  background:   rgba(2, 2, 2, 1);
}

/* Modal
================================= */
.modal .modal-content {
  border-radius: 0;
}
.modal .modal-header {
  background:   rgba(7, 7, 9, 0.8);
  color: #fff;
}
.modal .modal-header .close {
  font-style: 26px;
}

.lightbox {
  position: relative;
  display: block;
  overflow: hidden;
}
.lightbox img {
  -moz-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
}
.lightbox .on-hover {
  position: absolute;
  visibility: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  color: #fff;
  background: rgba(31, 118, 189, 0.75);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: all, 0.6s;
  -o-transition: all, 0.6s;
  -webkit-transition: all, 0.6s;
  transition: all, 0.6s;
}
.lightbox .on-hover .hover-caption {
  text-align: center;
  position: absolute;
  bottom: 25px;
  left: 5px;
  right: 5px;
  font-style: 18px;
  display: block;
  font-family: "Dosis", sans-serif;
  bottom: -50px;
  -moz-transition: all, 0.6s;
  -o-transition: all, 0.6s;
  -webkit-transition: all, 0.6s;
  transition: all, 0.6s;
}
.lightbox .on-hover:before {
  content: "";
  display: block;
  width: 46px;
  height: 48px;
  position: absolute;
  background: url('../../images/icons/zoom-icon.png?1428101315');
  top: 50%;
  left: 50%;
  margin-top: -23px;
  margin-left: -24px;
}
.lightbox:hover .on-hover {
  visibility: visible;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.lightbox:hover .on-hover .hover-caption {
  bottom: 25px;
}
.lightbox:hover img {
  -moz-transform: perspective(1.15) scale3d(1.15, 1.15, 1.15);
  -webkit-transform: perspective(1.15) scale3d(1.15, 1.15, 1.15);
  transform: perspective(1.15) scale3d(1.15, 1.15, 1.15);
}

/* Ow carousel
================================= */
.owl-next,
.owl-prev {
  width: 32px;
  height: 32px;
  padding-top: 5px;
  border: 2px solid;
  text-align: center;
  border-radius: 50%;
  left: 0;
  position: absolute;
  top: 50%;
  margin-top: -16px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
  -moz-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
}
.owl-next:hover,
.owl-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

.owl-next {
  left: auto;
  right: 0;
}

/* =============================================================================
	Responsive
========================================================================== */
/* Large devices (large desktops, 1200px and Down) */
@media (max-width: 1200px) {
  .about-us-col {
    padding: 15px;
  }

  .reasons-col:hover .on-hover {
    padding: 15px;
  }

  .reasons-col:hover .on-hover {
    padding: 25px;
  }
}
/* Medium devices (desktops, 992px and Donw) */
@media (max-width: 992px) {
  .carousel-home .carousel-title {
    font-size: 36px;
  }
  .carousel-home .carousel-subtitle {
    font-size: 18px;
  }
  .carousel-home .btn {
    margin-top: 15px;
  }

  .about-us-col {
    margin-bottom: 25px;
  }

  .team-member {
    margin-bottom: 25px;
  }

  .reasons-col {
    margin-bottom: 25px;
  }

  .footer-col {
    margin-bottom: 50px;
  }
}
/* Small devices (tablets, 768px and Down) */
@media (max-width: 768px) {
  .header-contact {
    text-align: center;
  }
  .header-contact li {
    margin: 0 !important;
  }

  .header-social {
    text-align: center;
  }

  .navbar-main #navbar {
    float: none !important;
  }
  .navbar-main #navbar a {
    border-bottom: none;
  }
  .navbar-main .navbar-brand {
    padding: 6px 15px;
  }
  .navbar-main .submenu {
    position: initial;
    display: none;
    width: 100%;
  }
  .navbar-main li:hover .submenu,
  .navbar-main li:active .submenu,
  .navbar-main li:focus .submenu {
    display: block;
  }
  .navbar-main li:hover .submenu li,
  .navbar-main li:active .submenu li,
  .navbar-main li:focus .submenu li {
    background:   rgba(2, 2, 2, 1);
    border-top-color:   rgba(7, 7, 9, 0.8);
  }

  .carousel-home .carousel-title {
    font-size: 32px;
  }
  .carousel-home .carousel-subtitle {
    font-size: 16px;
  }
  .carousel-home .carousel-control {
    background:   rgba(7, 7, 9, 0.8);
    height: 40px;
    width: 20px;
    top: 50%;
    margin-top: -20px;
  }
  .carousel-home .carousel-control .fa {
    font-size: 1.5em;
    padding-top: 4px;
  }

  .col-form {
    margin-bottom: 25px;
  }
}
/* Extra Small devices (tablets, 480px and Down) */
@media (max-width: 480px) {
  .carousel-home .carousel-title {
    font-size: 16px;
    margin: 0;
  }
  .carousel-home .carousel-subtitle {
    font-size: 14px;
    margin: 0;
  }
  .carousel-home .carousel-indicators {
    bottom: 0;
  }
}
/* =============================================================================
	Animations
========================================================================== */
.animate-onscroll {
  visibility: hidden;
}

.animated {
  visibility: visible;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.slow {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}
.animated.fadeIn {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}

@-webkit-keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

/*# sourceMappingURL=app.css.map */
